<div class="row">

  <%= render :partial => "product_item", :collection => @products , :as => :product %> 

</div>

<%= search_form_for @search, url: search_products_path, method: :post do |f|%>
  <li>
    <%= f.label :title_cont%>
    <%= f.text_field :title_cont%>
  </li>
  <%= f.submit "產品搜尋"%>
<%end%>

